{
  "openapi": "3.1.0",
  "info": {
    "version": "2.0.175",
    "title": "Lichess.org API reference",
    "contact": {
      "name": "Lichess.org API",
      "url": "https://lichess.org/api",
      "email": "contact@lichess.org"
    },
    "x-logo": {
      "url": "https://lichess1.org/assets/logo/lichess-pad12.svg"
    },
    "license": {
      "name": "AGPL-3.0-or-later",
      "url": "https://www.gnu.org/licenses/agpl-3.0.txt"
    },
    "description": "# Introduction\nWelcome to the reference for the Lichess API! Lichess is free/libre,\nopen-source chess server powered by volunteers and donations.\n- Get help in the [Lichess Discord channel](https://discord.gg/lichess)\n- API demo app with OAuth2 login and gameplay: [source](https://github.com/lichess-org/api-demo) / [demo](https://lichess-org.github.io/api-demo/)\n- API UI app with OAuth2 login and endpoint forms: [source](https://github.com/lichess-org/api-ui) / [website](https://lichess.org/api/ui)\n- [Contribute to this documentation on Github](https://github.com/lichess-org/api)\n- Check out [Lichess widgets to embed in your website](https://lichess.org/developers)\n- [Download all Lichess rated games](https://database.lichess.org/)\n- [Download all Lichess puzzles with themes, ratings and votes](https://database.lichess.org/#puzzles)\n- [Download all evaluated positions](https://database.lichess.org/#evals)\n\n## Endpoint\nAll requests go to `https://lichess.org` (unless otherwise specified).\n\n## Clients\n- [Python general API](https://github.com/lichess-org/berserk)\n- [MicroPython general API](https://github.com/mkomon/uberserk)\n- [Python general API - async](https://pypi.org/project/async-lichess-sdk)\n- [Python Lichess Bot](https://github.com/lichess-bot-devs/lichess-bot)\n- [Python Board API for Certabo](https://github.com/haklein/certabo-lichess)\n- [Java general API](https://github.com/tors42/chariot)\n- [JavaScript & TypeScript general API](https://github.com/devjiwonchoi/equine)\n- [Rust general API](https://github.com/obazin/litchee)\n- [LichessNET - C# API Wrapper](https://github.com/Rabergsel/LichessNET)\n- [.NET general API](https://github.com/Dblike/LichessSharp)\n\n## Rate limiting\nAll requests are rate limited using various strategies,\nto ensure the API remains responsive for everyone.\nOnly make one request at a time.\nIf you receive an HTTP response with a [429 status](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#429),\nyou have exceded one of the rate limits.\nIn most cases, waiting one minute before retrying will be sufficient, but some limits may require longer.\nReduce your request frequency before retrying.\n\n## Streaming with ND-JSON\nSome API endpoints stream their responses as [Newline Delimited JSON a.k.a. **nd-json**](https://github.com/ndjson/ndjson-spec), with one JSON object per line.\n\nHere's a [JavaScript utility function](https://gist.github.com/ornicar/a097406810939cf7be1df8ea30e94f3e) to help reading NDJSON streamed responses.\n\n## Authentication\n### Which authentication method is right for me?\n[Read about the Lichess API authentication methods and code examples](https://github.com/lichess-org/api-demo/blob/master/example/README.md)\n\n### Personal Access Token\nPersonal API access tokens allow you to quickly interact with Lichess API without going through an OAuth flow.\n- [Generate a personal access token](https://lichess.org/account/oauth/token)\n- `curl https://lichess.org/api/account -H \"Authorization: Bearer {token}\"`\n- [NodeJS example](https://github.com/lichess-org/api-demo/tree/master/example/oauth-personal-token)\n\n### Token Security\n- Keep your tokens secret. Do not share them in public repositories or public forums.\n- Your tokens can be used to make your account perform arbitrary actions (within the limits of the tokens' scope). You remain responsible for all activities on your account.\n- Do not hardcode tokens in your application's code. Use environment variables or a secure storage and ensure they are not shipped/exposed to users. Be especially careful that they are not included in frontend bundles or apps that are shipped to users.\n- If you suspect a token has been compromised, revoke it immediately.\n\nTo see your active tokens or revoke them, see [your Personal API access tokens](https://lichess.org/account/oauth/token).\n\n### Authorization Code Flow with PKCE\nThe authorization code flow with PKCE allows your users to **login with Lichess**.\nLichess supports unregistered and public clients (no client authentication, choose any unique client id).\nThe only accepted code challenge method is `S256`.\nAccess tokens are long-lived (expect one year), unless they are revoked.\nRefresh tokens are not supported.\n\nSee the [documentation for the OAuth endpoints](#tag/OAuth) or\nthe [PKCE RFC](https://datatracker.ietf.org/doc/html/rfc7636#section-4) for a precise protocol description.\n\n- [Demo app](https://lichess-org.github.io/api-demo/)\n- [Minimal client-side example](https://github.com/lichess-org/api-demo/tree/master/example/oauth-app)\n- [Flask/Python example](https://github.com/lakinwecker/lichess-oauth-flask)\n- [Java example](https://github.com/tors42/lichess-oauth-pkce-app)\n- [NodeJS Passport strategy to login with Lichess OAuth2](https://www.npmjs.com/package/passport-lichess)\n\n#### Real life examples\n- [PyChess](https://github.com/gbtami/pychess-variants) ([source code](https://github.com/gbtami/pychess-variants))\n- [Lichess4545](https://www.lichess4545.com/) ([source code](https://github.com/cyanfish/heltour))\n- [English Chess Federation](https://ecf.octoknight.com/)\n- [Rotherham Online Chess](https://rotherhamonlinechess.azurewebsites.net/tournaments)\n\n### Token format\nAccess tokens and authorization codes match `^[A-Za-z0-9_]+$`.\nThe length of tokens can be increased without notice. Make sure your application can handle at least 512 characters.\nBy convention tokens have a recognizable prefix, but do not rely on this.\n"
  },
  "servers": [
    {
      "url": "https://lichess.org"
    },
    {
      "url": "https://lichess.dev"
    },
    {
      "url": "http://localhost:{port}",
      "variables": {
        "port": {
          "default": "8080"
        }
      }
    },
    {
      "url": "http://l.org"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Read and write account information and preferences.\n<https://lichess.org/account/preferences/game-display>\n"
    },
    {
      "name": "Analysis",
      "description": "Access Lichess cloud evaluations database.\n<https://lichess.org/analysis>\n"
    },
    {
      "name": "Board",
      "description": "Play on Lichess with physical boards and third-party clients.\nWorks with normal Lichess accounts. Engine play or assistance is [forbidden](https://lichess.org/page/fair-play).\n\n### Features\n- [Stream incoming chess moves](#tag/board/GET/api/board/game/stream/{gameId})\n- [Play chess moves](#tag/board/POST/api/board/game/{gameId}/move/{move})\n- [Read](#tag/board/GET/api/board/game/stream/{gameId}) and [write](#tag/board/POST/api/board/game/{gameId}/chat) in the player and spectator chats\n- [Receive](#tag/board/GET/api/stream/event), [create](#tag/challenges/POST/api/challenge/{username}) and [accept](#tag/challenges/POST/api/challenge/{challengeId}/accept) (or [decline](#tag/challenges/POST/api/challenge/{challengeId}/decline)) challenges\n- [Abort](#tag/board/POST/api/board/game/{gameId}/abort) and [resign](#tag/board/POST/api/board/game/{gameId}/resign) games\n- Compatible with normal Lichess accounts\n\n### Restrictions\n- Engine assistance, or any kind of outside help, is [forbidden](https://lichess.org/page/fair-play)\n- Time controls: [Rapid, Classical and Correspondence](https://lichess.org/faq#time-controls) only.\n  For direct challenges, games vs AI, and bulk pairing, Blitz is also possible.\n\n### Links\n- [Announcement](https://lichess.org/blog/XlRW5REAAB8AUJJ-/welcome-lichess-boards)\n- [Implementation example](https://github.com/lichess-org/api-demo) and [live demo](https://lichess-org.github.io/api-demo/)\n- [Certabo support](https://github.com/haklein/certabo-lichess)\n- [Lichs (play from command-line)](https://github.com/Cqsi/lichs)\n- [Lichess discord bot](https://top.gg/bot/707287095911120968)\n- [cli-chess](https://github.com/trevorbayless/cli-chess/)\n- [Blunderly 3D board](https://github.com/maurimo/blunderly)\n- Yours? Please make [an issue or pull request](https://github.com/lichess-org/api).\n"
    },
    {
      "name": "Bot",
      "description": "Play on Lichess as a bot. Allows engine play.\nRead the [blog post announcement of lichess bots](https://lichess.org/blog/WvDNticAAMu_mHKP/welcome-lichess-bots).\n\nOnly works with [Bot accounts](#tag/bot/POST/api/bot/account/upgrade).\n\n### Features\n- [Stream incoming chess moves](#tag/bot/GET/api/bot/game/stream/{gameId})\n- [Play chess moves](#tag/bot/POST/api/bot/game/{gameId}/move/{move})\n- [Read](#tag/bot/GET/api/bot/game/stream/{gameId}) and [write](#tag/bot/POST/api/bot/game/{gameId}/chat) in the player and spectator chats\n- [Receive](#tag/bot/GET/api/stream/event), [create](#tag/challenges/POST/api/challenge/{username}) and [accept](#tag/challenges/POST/api/challenge/{challengeId}/accept) (or [decline](#tag/challenges/POST/api/challenge/{challengeId}/decline)) challenges\n- [Abort](#tag/bot/POST/api/bot/game/{gameId}/abort) and [resign](#tag/bot/POST/api/bot/game/{gameId}/resign) games\n- Engine assistance is [allowed](https://lichess.org/page/fair-play)\n### Restrictions\n- Bots can only play challenge games:  pools and tournaments are off-limits\n- Bots cannot play UltraBullet (¼+0) because it requires making too many requests. But 0+1 and ½+0 are allowed.\n- Bots must follow [Lichess TOS](https://lichess.org/terms-of-service) specifically Sandbagging, Constant Aborting, Boosting, etc\n- Bot devs are advised to make their Bots play casual only when testing their Bots logic and to avoid breaking Lichess TOS.\n### Integrations\n- [Python3 lichess-bot](https://github.com/lichess-bot-devs/lichess-bot) (official)\n- [Python3 lichess UCI bot](https://github.com/Torom/BotLi)\n- [JavaScript bot-o-tron](https://github.com/tailuge/bot-o-tron)\n- [Golang lichess-bot](https://github.com/dolegi/lichess-bot)\n- [Electronic Chessboard](http://www.oliviermercier.com/res/projects/chessboard/)\n- Yours? Please make [an issue or pull request](https://github.com/lichess-org/api).\n### Links\n- [Announcement](https://lichess.org/blog/WvDNticAAMu_mHKP/welcome-lichess-bots)\n- Join the [Lichess Bots team](https://lichess.org/team/lichess-bots) with your bot account\n- [Get help in the discord channel](https://discord.gg/quwueFd)\n- Watch [Lichess Bot TV](https://lichess.org/tv/bot)\n"
    },
    {
      "name": "Broadcasts",
      "description": "Relay chess events on Lichess.\n[Official broadcasts](https://lichess.org/broadcast) are maintained by Lichess,\nbut you can [create your own broadcasts](https://lichess.org/broadcast/new) to cover any live game or chess event.\nYou will need to publish PGN on a public URL so that Lichess can pull updates from it.\nAlternatively, you can push PGN updates to Lichess using [this API endpoint](#tag/broadcasts/POST/api/broadcast/round/{broadcastRoundId}/push).\n\nBroadcasts are organized in tournaments, which have several rounds, which have several games.\nYou must first create a tournament, then you can add rounds to them.\nTournaments can be linked together in a group.\n\nAll tournament endpoint requests must be authenticated with (at least) a `study:read` token.\nUnauthenticated endpoints are [heavily rate-limited and might stop functioning](https://github.com/lichess-org/lila/pull/21283).\n"
    },
    {
      "name": "Bulk pairings",
      "description": "Create many games for other players.\n\nThese endpoints are intended for tournament organisers.\n"
    },
    {
      "name": "Challenges",
      "description": "Send and receive challenges to play.\n\nTo create a lot of challenges, consider [bulk pairing](#tag/bulk-pairings/POST/api/bulk-pairing) instead.\n"
    },
    {
      "name": "External engine",
      "description": "**This API is in alpha and subject to change.**\n\nUse or provide external engine analysis.\n\nExternal engines can provide analysis on pages like the\n[analysis board](https://lichess.org/analysis), running as a service\noutside of the browser, or even on a different machine.\n"
    },
    {
      "name": "FIDE",
      "description": "FIDE players and federations from [their public download](https://ratings.fide.com/download_lists.phtml).\n\n<https://lichess.org/fide>\n"
    },
    {
      "name": "Games",
      "description": "Access games played on Lichess.\n<https://lichess.org/games>\n"
    },
    {
      "name": "Messaging",
      "description": "Private messages with other players.\n<https://lichess.org/inbox>\n"
    },
    {
      "name": "Opening Explorer",
      "description": "Lookup positions from the [Lichess opening explorer](https://lichess.org/analysis#explorer).\n\nRuns <https://github.com/lichess-org/lila-openingexplorer>.\n\n> [!important]\n> The hostname for these endpoints is `explorer.lichess.org` and not `lichess.org`.\n"
    },
    {
      "name": "Puzzles",
      "description": "Fetch and solve [puzzles](https://lichess.org/training), view your puzzle history and dashboard.\n\nOur collection of puzzles is in the public domain, you can [download it here](https://database.lichess.org/#puzzles).\nFor a list of our [puzzle themes](https://lichess.org/training/themes) with their description, check out the [theme translation file](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml).\n"
    },
    {
      "name": "Relations",
      "description": "Access relations between users.\n"
    },
    {
      "name": "Simuls",
      "description": "Access simuls played on Lichess.\n<https://lichess.org/simul>\n"
    },
    {
      "name": "Studies",
      "description": "Access Lichess studies.\n<https://lichess.org/study>\n"
    },
    {
      "name": "Tablebase",
      "description": "Lookup positions from the [Lichess tablebase server](https://lichess.org/blog/W3WeMyQAACQAdfAL/7-piece-syzygy-tablebases-are-complete).\n\n> [!important]\n> The hostname for these endpoints is `tablebase.lichess.org` and not `lichess.org`.\n"
    },
    {
      "name": "Teams",
      "description": "Access and manage Lichess teams and their members.\n<https://lichess.org/team>\n"
    },
    {
      "name": "Tournaments (Arena)",
      "description": "Access Arena tournaments played on Lichess.\n[Official Arena tournaments](https://lichess.org/tournament) are maintained by Lichess,\nbut you can [create your own Arena tournaments](https://lichess.org/tournament/new) as well.\n"
    },
    {
      "name": "Tournaments (Swiss)",
      "description": "Access Swiss tournaments played on Lichess.\n[Read more about Swiss tournaments.](https://lichess.org/swiss).\n"
    },
    {
      "name": "TV",
      "description": "Access Lichess TV channels and games.\n<https://lichess.org/tv> & <https://lichess.org/games>\n"
    },
    {
      "name": "Users",
      "description": "Access registered users on Lichess.\n<https://lichess.org/player>\n\n- Each user blog exposes an atom (RSS) feed, like <https://lichess.org/@/thibault/blog.atom>\n- User blogs mashup feed: https://lichess.org/blog/community.atom\n- User blogs mashup feed for a language: https://lichess.org/blog/community/fr.atom\n"
    },
    {
      "name": "OAuth",
      "description": "Obtaining and revoking OAuth tokens.\n\n[Read about the Lichess API authentication methods and code examples](https://github.com/lichess-org/api-demo/blob/master/example/README.md).\n"
    }
  ],
  "paths": {
    "/api/users/status": {
      "get": {
        "operationId": "apiUsersStatus",
        "summary": "Get real-time users status",
        "description": "Read the `online`, `playing` and `streaming` flags of several users.\nThis API is very fast and cheap on lichess side.\nSo you can call it quite often (like once every 5 seconds).\nUse it to track players and know when they're connected on lichess and playing games.\n",
        "tags": [
          "Users"
        ],
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "required": true,
            "description": "User IDs separated by commas. Up to 100 IDs.",
            "schema": {
              "type": "string"
            },
            "example": "thibault,maia1,maia5"
          },
          {
            "in": "query",
            "name": "withSignal",
            "required": false,
            "description": "Also return the network signal of the player, when available.\nIt ranges from 1 (poor connection, lag > 500ms) to 4 (great connection, lag < 150ms)\nDefaults to `false` to preserve server resources.\n",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "in": "query",
            "name": "withGameIds",
            "required": false,
            "description": "Also return the ID of the game being played, if any, for each player, in a `playingId` field.\nDefaults to `false` to preserve server resources.\n",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "in": "query",
            "name": "withGameMetas",
            "required": false,
            "description": "Also return the id, time control and variant of the game being played, if any, for each player, in a `playing` field.\nDefaults to `false` to preserve server resources. Disables `withGameIds`.\n",
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "The list of users and their respective statuses.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "flair": {
                        "$ref": "#/components/schemas/Flair"
                      },
                      "title": {
                        "$ref": "#/components/schemas/Title"
                      },
                      "online": {
                        "type": "boolean"
                      },
                      "playing": {
                        "type": "boolean"
                      },
                      "streaming": {
                        "type": "boolean"
                      },
                      "patron": {
                        "$ref": "#/components/schemas/Patron"
                      },
                      "patronColor": {
                        "$ref": "#/components/schemas/PatronColor"
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ]
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/users-getRealTimeUsersStatus.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/player": {
      "get": {
        "operationId": "player",
        "summary": "Get all top 10",
        "tags": [
          "Users"
        ],
        "security": [],
        "description": "Get the top 10 players for each speed and variant.\nSee <https://lichess.org/player>.\n",
        "responses": {
          "200": {
            "description": "The list of variants with their respective top players.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Top10s"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/users-getAllTop10.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/player/top/{nb}/{perfType}": {
      "get": {
        "operationId": "playerTopNbPerfType",
        "summary": "Get one leaderboard",
        "tags": [
          "Users"
        ],
        "security": [],
        "description": "Get the leaderboard for a single speed or variant (a.k.a. `perfType`).\nThere is no leaderboard for correspondence or puzzles.\nSee <https://lichess.org/player/top/bullet>.\n",
        "parameters": [
          {
            "in": "path",
            "name": "nb",
            "description": "How many users to fetch",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "example": 100
            },
            "required": true
          },
          {
            "in": "path",
            "name": "perfType",
            "description": "The speed or variant",
            "schema": {
              "type": "string",
              "example": "bullet",
              "enum": [
                "ultraBullet",
                "bullet",
                "blitz",
                "rapid",
                "classical",
                "chess960",
                "crazyhouse",
                "antichess",
                "atomic",
                "horde",
                "kingOfTheHill",
                "racingKings",
                "threeCheck"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The list of top players for the variant.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/vnd.lichess.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Leaderboard"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/users-getOneLeaderboard.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/{username}": {
      "get": {
        "operationId": "apiUser",
        "summary": "Get user public data",
        "description": "Read public data of a user.\n",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "trophies",
            "description": "Include user trophies",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "profile",
            "description": "Include user profile data",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "rank",
            "description": "Include global lichess ranking for each perf",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "fideId",
            "description": "Include public FIDE ID if any",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The information of the user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserExtended"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/users-getUserPublicData.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/{username}/rating-history": {
      "get": {
        "operationId": "apiUserRatingHistory",
        "summary": "Get rating history of a user",
        "description": "Read rating history of a user, for all perf types.\nThere is at most one entry per day.\nFormat of an entry is `[year, month, day, rating]`.\n`month` starts at zero (January).\n\nNote: Rating history is generated on demand by [Authenticated OAuth requests](#description/authentication).\nUnauthenticated requests will return a cached version of the rating history if present, otherwise an empty array.\n",
        "tags": [
          "Users"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The rating history of the user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatingHistory"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/users-getRatingHistoryOfAUser.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/{username}/perf/{perf}": {
      "get": {
        "operationId": "apiUserPerf",
        "summary": "Get performance statistics of a user",
        "description": "Read performance statistics of a user, for a single performance.\nSimilar to the [performance pages on the website](https://lichess.org/@/thibault/perf/bullet).\n",
        "tags": [
          "Users"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "perf",
            "schema": {
              "$ref": "#/components/schemas/PerfType"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The performance statistics of the user",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerfStat"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/users-getPerformanceStatisticsOfAUser.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/{username}/activity": {
      "get": {
        "operationId": "apiUserActivity",
        "summary": "Get user activity",
        "description": "Read data to generate the activity feed of a user.\n",
        "tags": [
          "Users"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The activity feed of the user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserActivity"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/users-getUserActivity.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/puzzle/daily": {
      "get": {
        "operationId": "apiPuzzleDaily",
        "summary": "Get the daily puzzle",
        "description": "Get the daily Lichess puzzle in JSON format.\n",
        "tags": [
          "Puzzles"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The daily puzzle.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleAndGame"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getDailyPuzzle.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/puzzle/{id}": {
      "get": {
        "operationId": "apiPuzzleId",
        "summary": "Get a puzzle by its ID",
        "description": "Get a single Lichess puzzle in JSON format.",
        "tags": [
          "Puzzles"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "The puzzle ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested puzzle.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleAndGame"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getPuzzleById.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/puzzle/next": {
      "get": {
        "operationId": "apiPuzzleNext",
        "summary": "Get a new puzzle",
        "description": "Get a random Lichess puzzle in JSON format.\n\nIf authenticated, only returns puzzles that the user has never seen before.\n\n**DO NOT** use this endpoint to enumerate puzzles for mass download. Instead, download the [full public puzzle database](https://database.lichess.org/#puzzles).\n",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": [
              "puzzle:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "angle",
            "required": false,
            "description": "The theme or opening to filter puzzles with.\n\nAvailable themes are listed in [the lichess source code](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml) and [the lichess training themes hyperlinks](https://lichess.org/training/themes).\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "difficulty",
            "required": false,
            "description": "The desired puzzle difficulty, relative to the authenticated user puzzle rating, or 1500 if anonymous.",
            "schema": {
              "type": "string",
              "enum": [
                "easiest",
                "easier",
                "normal",
                "harder",
                "hardest"
              ]
            }
          },
          {
            "in": "query",
            "name": "color",
            "required": false,
            "description": "The color to play. Better left empty to automatically get 50% white.",
            "schema": {
              "type": "string",
              "enum": [
                "white",
                "black"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested puzzle.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleAndGame"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getNewPuzzle.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/puzzle/batch/{angle}": {
      "get": {
        "operationId": "apiPuzzleBatchSelect",
        "summary": "Get multiple puzzles at once",
        "description": "Get a batch of random Lichess puzzles in JSON format.\n\nIf authenticated, only returns puzzles that the user has never seen before.\n\n**DO NOT** use this endpoint to enumerate puzzles for mass download. Instead, download the [full public puzzle database](https://database.lichess.org/#puzzles).\n",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": [
              "puzzle:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "angle",
            "schema": {
              "type": "string",
              "example": "mix"
            },
            "required": true,
            "description": "The theme or opening to filter puzzles with. Recommended: `mix`.\n\nAvailable themes are listed in [the lichess source code](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml) and [the lichess training themes hyperlinks](https://lichess.org/training/themes).\n"
          },
          {
            "in": "query",
            "name": "difficulty",
            "required": false,
            "description": "The desired puzzle difficulty, relative to the authenticated user puzzle rating, or 1500 if anonymous.",
            "schema": {
              "type": "string",
              "enum": [
                "easiest",
                "easier",
                "normal",
                "harder",
                "hardest"
              ]
            }
          },
          {
            "in": "query",
            "name": "nb",
            "description": "How many puzzles to fetch. Just set it to `1` if you only need one puzzle.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "example": 10,
              "default": 15
            },
            "required": false
          },
          {
            "in": "query",
            "name": "color",
            "required": false,
            "description": "The color to play. Better left empty to automatically get 50% white.\nCurrently only works when `nb=1`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "white",
                "black"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested puzzles.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleBatchSelect"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getMultiplePuzzlesAtOnce.json"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "apiPuzzleBatchSolve",
        "summary": "Solve multiple puzzles at once",
        "description": "Set puzzles as solved and update ratings.\n",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": [
              "puzzle:write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "angle",
            "schema": {
              "type": "string",
              "example": "mix"
            },
            "required": true,
            "description": "The theme or opening of the solved puzzles.\n\nAvailable themes are listed in [the lichess source code](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml) and [the lichess training themes hyperlinks](https://lichess.org/training/themes).\n"
          },
          {
            "in": "query",
            "name": "nb",
            "description": "When > 0, the response includes a new puzzle batch with that many puzzles.\n\nThis is equivalent to calling [/api/puzzle/batch/{angle}](#tag/puzzles/GET/api/puzzle/batch/{angle}),\nand can sometimes save a request.\n",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 50,
              "example": 1,
              "default": 0
            },
            "required": false
          }
        ],
        "requestBody": {
          "description": "List of solved puzzles",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PuzzleBatchSolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The solved puzzles, named `rounds`, and a new puzzle batch named `puzzles`.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleBatchSolveResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-solveMultiplePuzzlesAtOnce.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/puzzle/activity": {
      "get": {
        "operationId": "apiPuzzleActivity",
        "summary": "Get your puzzle activity",
        "description": "Download your puzzle activity in [ndjson](#description/streaming-with-nd-json) format.\nPuzzle activity is sorted by reverse chronological order (most recent first)\nWe recommend streaming the response, for it can be very long.\n",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": [
              "puzzle:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "max",
            "description": "How many entries to download. Leave empty to download all activity.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "before",
            "description": "Download entries before this timestamp. Defaults to now. Use `before` and `max` for pagination.",
            "schema": {
              "type": "integer",
              "minimum": 1356998400070
            }
          },
          {
            "in": "query",
            "name": "since",
            "description": "Download entries since this timestamp. Defaults to account creation date.",
            "schema": {
              "type": "integer",
              "minimum": 1356998400070
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The puzzle activity of the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleActivity"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getYourPuzzleActivity.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/puzzle/replay/{days}/{theme}": {
      "get": {
        "operationId": "apiPuzzleReplay",
        "summary": "Get puzzles to replay",
        "description": "Gets the puzzle IDs of remaining puzzles to re-attempt in JSON format.",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": [
              "puzzle:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "days",
            "required": true,
            "description": "How many days to look back when aggregating puzzle results. 30 is sensible.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "theme",
            "required": true,
            "description": "The theme or opening to filter puzzles with.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested puzzles to replay.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleReplay"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getPuzzlesToReplay.json"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No puzzles to replay were found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/puzzle/dashboard/{days}": {
      "get": {
        "operationId": "apiPuzzleDashboard",
        "summary": "Get your puzzle dashboard",
        "description": "Download your [puzzle dashboard](https://lichess.org/training/dashboard/30/dashboard) as JSON.\nAlso includes all puzzle themes played, with aggregated results.\nAllows re-creating the [improvement/strengths](https://lichess.org/training/dashboard/30/improvementAreas) interfaces.\n",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": [
              "puzzle:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "days",
            "required": true,
            "description": "How many days to look back when aggregating puzzle results. 30 is sensible.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The puzzle dashboard of the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleDashboard"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getYourPuzzleDashboard.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/storm/dashboard/{username}": {
      "get": {
        "operationId": "apiStormDashboard",
        "summary": "Get the storm dashboard of a player",
        "description": "Download the [storm dashboard](https://lichess.org/storm/dashboard/mrbasso) of any player as JSON.\nContains the aggregated highscores, and the history of storm runs aggregated by days.\nUse `?days=0` if you only care about the highscores.\n",
        "tags": [
          "Puzzles"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "description": "Username of the player",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "days",
            "description": "How many days of history to return",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 365,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The storm dashboard of a player.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleStormDashboard"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getStormDashboardOfPlayer.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/racer": {
      "post": {
        "operationId": "racerPost",
        "summary": "Create and join a puzzle race",
        "description": "Create a new private [puzzle race](https://lichess.org/racer).\nThe Lichess user who creates the race must join the race page,\nand manually start the race when enough players have joined.\n- <https://lichess.org/racer>\n",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": [
              "racer:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The new puzzle race.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleRacer"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-createAndJoinPuzzleRace.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/racer/{id}": {
      "get": {
        "operationId": "racerGet",
        "summary": "Get puzzle race results",
        "description": "Get the results of a [puzzle race](https://lichess.org/racer).\nReturns information about players, puzzles, and the current status of the race.\n- <https://lichess.org/racer>\n\nNote that Lichess puzzle races are not persisted, and are only available\nfor 30 minutes. After that delay, they are permanently deleted.\n",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The puzzle race ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The puzzle race results.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleRaceResults"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getRaceResults.json"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The puzzle race was not found, or is no longer available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/api/users": {
      "post": {
        "operationId": "apiUsers",
        "summary": "Get users by ID",
        "tags": [
          "Users"
        ],
        "security": [],
        "description": "Get up to 300 users by their IDs. Users are returned in the same order as the IDs.\nThe method is `POST` to allow a longer list of IDs to be sent in the request body.\nPlease do not try to download all the Lichess users with this endpoint, or any other endpoint.\nAn API is not a way to fully export a website. We do not provide a full download of the Lichess users.\nThis endpoint is limited to 8,000 users every 10 minutes, and 120,000 every day.\n",
        "requestBody": {
          "description": "User IDs separated by commas.",
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "thibault,maia1,maia5"
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "profile",
            "description": "Include user profile data",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "rank",
            "description": "Include global lichess ranking for each perf",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of users.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/users-getUsersById.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/account": {
      "get": {
        "operationId": "accountMe",
        "summary": "Get my profile",
        "description": "Public information about the logged in user.\n",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The public information about the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserExtended"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/account-getMyProfile.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/account/email": {
      "get": {
        "operationId": "accountEmail",
        "summary": "Get my email address",
        "description": "Read the email address of the logged in user.\n",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "OAuth2": [
              "email:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The email address of the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/account-getMyEmailAddress.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/account/preferences": {
      "get": {
        "operationId": "account",
        "summary": "Get my preferences",
        "description": "Read the preferences of the logged in user.\n- <https://lichess.org/account/preferences/game-display>\n- <https://github.com/ornicar/lila/blob/master/modules/pref/src/main/Pref.scala>\n",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "OAuth2": [
              "preference:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The preferences of the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "prefs": {
                      "$ref": "#/components/schemas/UserPreferences"
                    },
                    "language": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/account-getMyPreferences.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/account/kid": {
      "get": {
        "operationId": "accountKid",
        "summary": "Get my kid mode status",
        "description": "Read the kid mode status of the logged in user.\n- <https://lichess.org/account/kid>\n",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "OAuth2": [
              "preference:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The kid mode status of the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kid": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/account-getMyKidModeStatus.json"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "accountKidPost",
        "summary": "Set my kid mode status",
        "description": "Set the kid mode status of the logged in user.\n- <https://lichess.org/account/kid>\n",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "OAuth2": [
              "preference:write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "v",
            "required": true,
            "description": "Kid mode status",
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "The kid mode status was set successfully for the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/account-setMyKidModeStatus.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/export/{gameId}": {
      "get": {
        "operationId": "gamePgn",
        "summary": "Export one game",
        "description": "Download one game in either PGN or JSON format.\nOngoing games are delayed by 3 moves, as to prevent cheat bots from using this API.\n",
        "tags": [
          "Games"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptPgnOrJson"
          },
          {
            "in": "path",
            "name": "gameId",
            "description": "The game ID",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 8
            }
          },
          {
            "in": "query",
            "name": "moves",
            "description": "Include the PGN moves.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "pgnInJson",
            "description": "Include the full PGN within the JSON response, in a `pgn` field.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Include the PGN tags.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "clocks",
            "description": "Include clock status when available.\nEither as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`\nOr in a `clocks` JSON field, as centisecond integers, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "evals",
            "description": "Include analysis evaluations and comments, when available.\nEither as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`\nOr in an `analysis` JSON field, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "accuracy",
            "description": "Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "opening",
            "description": "Include the opening name.\nExample: `[Opening \"King's Gambit Accepted, King's Knight Gambit\"]`\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "division",
            "description": "Plies which mark the beginning of the middlegame and endgame.\nOnly available in JSON\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "literate",
            "description": "Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.\nExample: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "withBookmarked",
            "description": "Add a `bookmarked: true` JSON field when the logged in user has bookmarked the game.\nThe response type must be set to `application/x-ndjson` by the request `Accept` header.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The game representation.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GamePgn"
                    },
                    {
                      "$ref": "#/components/schemas/GameJson"
                    }
                  ]
                },
                "examples": {
                  "application/x-chess-pgn": {
                    "$ref": "#/components/examples/games-exportOneGame.pgn"
                  },
                  "application/json": {
                    "$ref": "#/components/examples/games-exportOneGame.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/game/{gameId}/chat": {
      "parameters": [
        {
          "in": "path",
          "name": "gameId",
          "schema": {
            "type": "string",
            "example": "5IrD6Gzz"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "gameChatGet",
        "summary": "Fetch the spectator game chat",
        "description": "Get the messages posted in the public spectator chat of a game.\n\nGames also have a private players chat, which only the 2 players can see.\n",
        "tags": [
          "Games"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The messages posted in the chat.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpectatorGameChat"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/games-fetchSpectatorChat.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/{username}/current-game": {
      "get": {
        "operationId": "apiUserCurrentGame",
        "summary": "Export ongoing game of a user",
        "description": "Download the ongoing game, or the last game played, of a user.\nAvailable in either PGN or JSON format.\nOngoing games are delayed by 3 moves, as to prevent cheat bots from using this API.\n",
        "tags": [
          "Games"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptPgnOrJson"
          },
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "moves",
            "description": "Include the PGN moves.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "pgnInJson",
            "description": "Include the full PGN within the JSON response, in a `pgn` field.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Include the PGN tags.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "clocks",
            "description": "Include clock status when available.\nEither as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`\nOr in a `clocks` JSON field, as centisecond integers, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "evals",
            "description": "Include analysis evaluations and comments, when available.\nEither as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`\nOr in an `analysis` JSON field, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "accuracy",
            "description": "Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "opening",
            "description": "Include the opening name.\nExample: `[Opening \"King's Gambit Accepted, King's Knight Gambit\"]`\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "division",
            "description": "Plies which mark the beginning of the middlegame and endgame.\nOnly available in JSON\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "literate",
            "description": "Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.\nExample: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ongoing (or last) game of a user.\nThis may be in either PGN or JSON format, depending on the `Accept` header of your request.\n",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GamePgn"
                    },
                    {
                      "$ref": "#/components/schemas/GameJson"
                    }
                  ]
                },
                "examples": {
                  "application/x-chess-pgn": {
                    "$ref": "#/components/examples/games-apiUserCurrentGamePgn.pgn"
                  },
                  "application/json": {
                    "$ref": "#/components/examples/games-apiUserCurrentGameJson.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/games/user/{username}": {
      "get": {
        "operationId": "apiGamesUser",
        "summary": "Export games of a user",
        "description": "Download all games of any user in PGN or [ndjson](#description/streaming-with-nd-json) format.\nGames are sorted by reverse chronological order (most recent first).\nWe recommend streaming the response, for it can be very long.\n<https://lichess.org/@/german11> for instance has more than 500,000 games.\nThe game stream is throttled, depending on who is making the request:\n  - Anonymous request: 20 games per second\n  - [OAuth2 authenticated](#description/authentication) request: 30 games per second\n  - Authenticated, downloading your own games: 60 games per second\n",
        "tags": [
          "Games"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptPgnOrNdjson"
          },
          {
            "in": "path",
            "name": "username",
            "description": "The user name.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "since",
            "description": "Download games played since this timestamp. Defaults to account creation date.",
            "schema": {
              "type": "integer",
              "minimum": 1356998400070
            }
          },
          {
            "in": "query",
            "name": "until",
            "description": "Download games played until this timestamp. Defaults to now.",
            "schema": {
              "type": "integer",
              "minimum": 1356998400070
            }
          },
          {
            "in": "query",
            "name": "max",
            "description": "How many games to download. Leave empty to download all games.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "vs",
            "description": "[Filter] Only games played against this opponent",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "rated",
            "description": "[Filter] Only rated (`true`) or casual (`false`) games",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "perfType",
            "description": "[Filter] Only games in these speeds or variants.\nMultiple perf types can be specified, separated by a comma.\nExample: blitz,rapid,classical\n",
            "schema": {
              "$ref": "#/components/schemas/PerfType"
            }
          },
          {
            "in": "query",
            "name": "color",
            "description": "[Filter] Only games played as this color.",
            "schema": {
              "type": "string",
              "enum": [
                "white",
                "black"
              ]
            }
          },
          {
            "in": "query",
            "name": "analysed",
            "description": "[Filter] Only games with or without a computer analysis available",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "moves",
            "description": "Include the PGN moves.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "pgnInJson",
            "description": "Include the full PGN within the JSON response, in a `pgn` field. The response type must be set to `application/x-ndjson` by the request `Accept` header.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Include the PGN tags.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "clocks",
            "description": "Include clock status when available.\nEither as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`\nOr in a `clocks` JSON field, as centisecond integers, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "evals",
            "description": "Include analysis evaluations and comments, when available.\nEither as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`\nOr in an `analysis` JSON field, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "accuracy",
            "description": "Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "opening",
            "description": "Include the opening name.\nExample: `[Opening \"King's Gambit Accepted, King's Knight Gambit\"]`\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "division",
            "description": "Plies which mark the beginning of the middlegame and endgame.\nOnly available in JSON\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "ongoing",
            "description": "Ongoing games are delayed by a few seconds ranging from 3 to 60 depending on the time control, as to prevent cheat bots from using this API.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "finished",
            "description": "Include finished games. Set to `false` to only get ongoing games.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "literate",
            "description": "Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.\nExample: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "lastFen",
            "description": "Include the X-FEN notation of the last position of the game.\nThe response type must be set to `application/x-ndjson` by the request `Accept` header.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "withBookmarked",
            "description": "Add a `bookmarked: true` JSON field when the logged in user has bookmarked the game.\nThe response type must be set to `application/x-ndjson` by the request `Accept` header.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort order of the games.",
            "schema": {
              "type": "string",
              "default": "dateDesc",
              "enum": [
                "dateAsc",
                "dateDesc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The games of the user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GamePgn"
                    },
                    {
                      "$ref": "#/components/schemas/GameJson"
                    }
                  ]
                },
                "examples": {
                  "application/x-chess-pgn": {
                    "$ref": "#/components/examples/games-apiGamesUserPgn.pgn"
                  },
                  "application/x-ndjson": {
                    "$ref": "#/components/examples/games-apiGamesUserJson.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/games/export/_ids": {
      "post": {
        "operationId": "gamesExportIds",
        "summary": "Export games by IDs",
        "description": "Download games by IDs in PGN or [ndjson](#description/streaming-with-nd-json) format, depending on the request `Accept` header.\nGames are sorted by reverse chronological order (most recent first)\nThe method is `POST` so a longer list of IDs can be sent in the request body.\n300 IDs can be submitted.\nOngoing games are delayed by 3 moves, as to prevent cheat bots from using this API.\n",
        "tags": [
          "Games"
        ],
        "security": [],
        "requestBody": {
          "description": "Game IDs separated by commas. Up to 300.",
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "TJxUmbWK,4OtIh2oh,ILwozzRZ"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptPgnOrNdjson"
          },
          {
            "in": "query",
            "name": "moves",
            "description": "Include the PGN moves.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "pgnInJson",
            "description": "Include the full PGN within the JSON response, in a `pgn` field.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Include the PGN tags.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "clocks",
            "description": "Include clock status when available.\nEither as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`\nOr in a `clocks` JSON field, as centisecond integers, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "evals",
            "description": "Include analysis evaluations and comments, when available.\nEither as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`\nOr in an `analysis` JSON field, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "accuracy",
            "description": "Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "opening",
            "description": "Include the opening name.\nExample: `[Opening \"King's Gambit Accepted, King's Knight Gambit\"]`\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "division",
            "description": "Plies which mark the beginning of the middlegame and endgame.\nOnly available in JSON\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "literate",
            "description": "Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.\nExample: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The representation of the games.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GamePgn"
                    },
                    {
                      "$ref": "#/components/schemas/GameJson"
                    }
                  ]
                },
                "examples": {
                  "application/x-chess-pgn": {
                    "$ref": "#/components/examples/games-gamesExportIds.pgn"
                  },
                  "application/json": {
                    "$ref": "#/components/examples/games-gamesExportIds.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stream/games-by-users": {
      "post": {
        "operationId": "gamesByUsers",
        "summary": "Stream games of users",
        "description": "Stream the games played between a list of users, in real time.\nOnly games where **both players** are part of the list are included.\nThe stream emits an event each time a game is started or finished.\nTo also get all current ongoing games at the beginning of the stream, use the `withCurrentGames` flag.\nGames are streamed as [ndjson](#description/streaming-with-nd-json).\nMaximum number of users: 300.\nThe method is `POST` so a longer list of IDs can be sent in the request body.\n",
        "tags": [
          "Games"
        ],
        "security": [],
        "requestBody": {
          "description": "Up to 300 user IDs separated by commas.\nExample: `thibault,maia1,maia5`\n",
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "withCurrentGames",
            "description": "Include the already started games at the beginning of the stream.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The stream of the games played between the users.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/GameStream"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/games-streamGamesOfUsers.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stream/games/{streamId}": {
      "post": {
        "operationId": "gamesByIds",
        "summary": "Stream games by IDs",
        "description": "Creates a stream of games from an arbitrary streamId, and a list of game IDs.\nThe stream first outputs the games that already exists, then emits an event each time a game is started or finished.\nGames are streamed as [ndjson](#description/streaming-with-nd-json).\nMaximum number of games: 500 for anonymous requests, or 1000 for [OAuth2 authenticated](#description/authentication) requests.\nWhile the stream is open, it is possible to [add new game IDs to watch](#tag/games/POST/api/stream/games/{streamId}/add).\n",
        "tags": [
          "Games"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "streamId",
            "schema": {
              "type": "string",
              "description": "Arbitrary stream ID that you can later use to add game IDs to the stream.",
              "example": "myAppName-someRandomId"
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "Up to 500 or 1000 game IDs separated by commas.\nExample: `gameId01,gameId02,gameId03`\n",
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The stream of the games matching the requested IDs.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/GameStream"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/games-streamGamesOfIds.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stream/games/{streamId}/add": {
      "post": {
        "operationId": "gamesByIdsAdd",
        "summary": "Add game IDs to stream",
        "description": "Add new game IDs for [an existing stream](#tag/games/POST/api/stream/games/{streamId}) to watch.\nThe stream will immediately outputs the games that already exists, then emit an event each time a game is started or finished.\n",
        "tags": [
          "Games"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "streamId",
            "schema": {
              "type": "string",
              "description": "The stream ID you used to [create the stream](#tag/games/POST/api/stream/games/{streamId}).",
              "example": "myAppName-someRandomId"
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "Up to 500 or 1000 game IDs separated by commas.\nExample: `gameId04,gameId05,gameId06`\n",
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The game IDs have been added to the stream.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/games-addGameIdsToStream.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/account/playing": {
      "get": {
        "operationId": "apiAccountPlaying",
        "summary": "Get my ongoing games",
        "description": "Get the ongoing games of the current user.\nReal-time and correspondence games are included.\nThe most urgent games are listed first.\n",
        "tags": [
          "Games"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "nb",
            "description": "Max number of games to fetch",
            "schema": {
              "type": "integer",
              "default": 9,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ongoing games of the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "nowPlaying",
                    "nbMyTurn"
                  ],
                  "properties": {
                    "nbMyTurn": {
                      "type": "integer",
                      "description": "Number of games where it is my turn to play"
                    },
                    "nowPlaying": {
                      "type": "array",
                      "description": "Games I'm currently playing",
                      "items": {
                        "type": "object",
                        "required": [
                          "gameId",
                          "fullId",
                          "color",
                          "fen",
                          "hasMoved",
                          "isMyTurn",
                          "lastMove",
                          "opponent",
                          "perf",
                          "rated",
                          "rating",
                          "secondsLeft",
                          "source",
                          "speed",
                          "variant"
                        ],
                        "properties": {
                          "fullId": {
                            "type": "string"
                          },
                          "gameId": {
                            "type": "string"
                          },
                          "fen": {
                            "type": "string"
                          },
                          "color": {
                            "$ref": "#/components/schemas/GameColor"
                          },
                          "lastMove": {
                            "type": "string"
                          },
                          "source": {
                            "$ref": "#/components/schemas/GameSource"
                          },
                          "status": {
                            "$ref": "#/components/schemas/GameStatus"
                          },
                          "variant": {
                            "$ref": "#/components/schemas/Variant"
                          },
                          "speed": {
                            "$ref": "#/components/schemas/Speed"
                          },
                          "perf": {
                            "$ref": "#/components/schemas/PerfType"
                          },
                          "rated": {
                            "type": "boolean"
                          },
                          "rating": {
                            "type": "integer"
                          },
                          "hasMoved": {
                            "type": "boolean"
                          },
                          "opponent": {
                            "oneOf": [
                              {
                                "type": "object",
                                "title": "Player",
                                "required": [
                                  "id",
                                  "username"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  },
                                  "rating": {
                                    "type": "integer"
                                  },
                                  "ratingDiff": {
                                    "type": "integer"
                                  }
                                },
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "title": "Anonymous opponent",
                                "required": [
                                  "id",
                                  "username"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "null"
                                  },
                                  "username": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "title": "AI opponent",
                                "required": [
                                  "id",
                                  "username",
                                  "ai"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "null"
                                  },
                                  "username": {
                                    "type": "string"
                                  },
                                  "ai": {
                                    "type": "integer",
                                    "description": "AI level, from 1 to 8."
                                  }
                                },
                                "additionalProperties": false
                              }
                            ]
                          },
                          "isMyTurn": {
                            "type": "boolean"
                          },
                          "secondsLeft": {
[...]
